* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 15px;
}

.img-cita-compu {
    width: 100%;
    position: relative;
}

.img-cita-tablet {
    width: 100%;
    position: relative;
}

.img-cita-celular {
    width: 100%;
    position: relative;
}

body {
    font-family: 'Karla', 'Mulish', 'Titillium Web', sans-serif;
    font-size: 1rem;
    padding-top: 8rem;
    background-color: #1e777a;
}

header {
    background: #1e777a;
    display: block;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e777a;
    height: 10 rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.inicio-logo {
    width: auto;
    height: 6rem;
    border-radius: 1 rem;
    margin-left: 2 rem;
    padding: 1rem;
}

.nav-menu {
    display: flex;
    margin-right: 4rem;
    list-style: none;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
}

.nav-menu-item {
    font-size: 1rem;
    margin: 0 1rem;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    text-decoration: none;
    color: white;
    padding: 0.3rem 0.3rem;
    border-radius: 5rem;
}

.nav-menu-link:hover {
    background: linear-gradient(to right, #FFEBD3, #1e777a);
    transition: .5s;
}

main {
    min-height: 200px;
    overflow: auto;
    background-color: #FFEBD3;
    padding: 30 px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.frase {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    position: relative;
    text-align: center;
    padding: 100px;
}

.cita {
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: 'Work Sans', sans-serif;
    color: white;
    text-align: center;
    left: 50%;
}

.firma {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Dancing Script';
    font-style: oblique;
    font-size: 1.5rem;
}

.contenido-ppal {
    margin: 5rem;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

footer {
    min-height: 50px;
    margin: 0.5rem;
    min-width: 400px;
    background: #1e777a;
    color: white;
    text-align: center;
}

footer>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    color: inherit;
    opacity: 0.80;
}

.main-cursos {
    margin: 2rem;
    box-sizing: border-box;
    padding: 0rem;
}

h2 {
    font-size: 2rem;
    margin: 2rem;
    color: #1f272b;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor-cursos {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
}

.curso-item {
    box-shadow: 0 0.5rem 0.5rem rgb(0 0 0 / 20%);
    background: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
}

.contenedor-mensaje-del-dia {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

.contenedor-quien-soy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 600px) {
    .img-cita-compu {
        display: none;
    }
    .img-cita-tablet {
        display: none;
    }
    .img-cita-celular {
        display: block;
    }
    .cita {
        top: 45%;
        font-size: 2rem;
    }
    .firma {
        top: 70%;
        font-size: 1.5rem;
    }
}

@media (min-width: 600px) {
    .img-cita-compu {
        display: none;
    }
    .img-cita-tablet {
        display: block;
    }
    .img-cita-celular {
        display: none;
    }
    .cita {
        top: 33%;
        font-size: 2rem;
        position: center;
    }
    .firma {
        top: 53%;
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    .img-cita-compu {
        display: block;
    }
    .img-cita-tablet {
        display: none;
    }
    .img-cita-celular {
        display: none;
    }
    .cita {
        top: 35%;
        font-size: 2rem;
        position: center;
    }
    .firma {
        top: 55%;
        font-size: 1.5rem;
    }
}